body {
    background-color: tan;
}

img {
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.recipes,
h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.spag-content,
.smoothie-content,
.panzanella-content {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#return-button {
    display: block;
    font-size: 16;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}